html, body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   background:#5B6A9F;
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}
ul li {
	display: inline-block;
}
ul li h1{
  width: 100%;
  height: auto;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 50px;
}
ul li a {
	color: black;
	padding: 0px 20px 0px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: "Roboto";
	font-size: 22px;
	letter-spacing: 0.5px;
	transition: all ease-in-out 250ms;
	border-radius: 12px;
  color:white;
}
ul li a:hover {
	background-color: white;
  color:black;
}
.ul-header{
  margin-top: 0px;
  width: 100%;
  margin-left: 0px;
  padding-left: 10px;
}
.navbar-class{
  background-color: #5B6A9F;
  color:white;
}
.table1 {
  width: 90%;
  text-align: center;
  border-radius: 1;
  margin-left: auto;
  margin-right: auto;
}
.table1 td {
  vertical-align: top;
  padding: 20px;
  margin:10px;
  background-color: rgba(0, 0, 0, 0.5);
}
#td1 {
  width: 326px;
  height: 194px;
  text-align: center;
}
.foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 20px;
  background: grey;
}
.column {
  float: left;
  width: 55%;
  margin-left: 5px;
  margin-right: auto;
  height: 100%; /* Should be removed. Only for demonstration */
}
.column-mapel {
  float: left;
  width: 15%;
  margin-left: 5%;
  margin-right: auto;
  padding: 10px;
  height: 100%; /* Should be removed. Only for demonstration */
}
.column-leftpanel {
  float: left;
  width: 20%;
  margin-left: 5px;
  margin-right: auto;
  padding: 10px;
  height: 100%; /* Should be removed. Only for demonstration */
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
  .left, .main, .right {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
